.avalonia-build-tasks/
/btop/btop.log
chromium/
Code/
dconf/
deemix/
depot_tools/
discord/
easyeffects/
Electron/
flutter/
gedit/
ghc/
github-copilot/
go/
gtk-3.0/
gtk-4.0/
gwe/
htop/
JetBrains/
libreoffice/
matplotlib/
menus/
mpv/
nautilus/
nextjs-nodejs/
nwg-look/
nwjs/
obs-studio/
obsidian/
procps/
pulse/
qBittorrent/
rustdesk/
Slack/
spotify/
systemd/
Ultralytics/
Unknown\ Organization/
vlc/
winegui/
xsettingsd/
yay/
zed/themes/
zed/.tmp*
mimeapps.list
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf